# .github/workflows/ci.yml

name: CI - Test on Multiple Cloud platforms

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-local:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          pytest test_hello_world.py -v

  test-aws:
    needs: test-local
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: |
          aws codebuild start-build \
            --project-name hello_world_test \
            --source-version ${{ github.sha }}