# .github/workflows/ci.yml

name: CI - Test on Multiple Cloud platforms

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-local:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Test with pytest
        run: |
          pytest test_hello_world.py -v